<div class="container mt-4">
    <h2 class="text-center mb-4">Listado de Recetas Caleñas</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let receta of recetas">
                    <h5 class="mb-3">{{ receta.nombre }}</h5>
                    <p><strong>Ingredientes:</strong></p>
                    <ul>
                        <li *ngFor="let ingrediente of receta.ingredientes">
                            {{ ingrediente }}
                        </li>
                    </ul>
                    <p><strong>Pasos:</strong></p>
                    <ol>
                        <li *ngFor="let paso of receta.pasos">
                            {{ paso }}
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>