<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Recetas de Colombia</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/listado-recetas">Listado de Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/form-recetas">Agregar Receta</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>  <!-- Donde los componentes se insertarán -->
  